  <%- include('./header.ejs') %>
  <div class="flex h-screen">
    <div class="flex-grow bg-gray-100 p-4">
      <h1 class="text-xl font-semibold mb-4">Dashboard</h1>
      </div>
  </div>

<%- include('./footer.ejs') %>